<div class="cart">
  <div class="cart__header">
    <h1 class="cart__title">{{ 'cart.general.title' | t }}</h1>
  </div>

  {% if cart.item_count > 0 %}
    <form action="{{ routes.cart_url }}" method="post" novalidate class="cart__form">
      <div class="cart__items">
        <table class="cart__table">
          <thead class="cart__table-head">
            <tr>
              <th class="cart__table-cell cart__table-cell--image">{{ 'cart.label.product' | t }}</th>
              <th class="cart__table-cell cart__table-cell--details"></th>
              <th class="cart__table-cell cart__table-cell--price">{{ 'cart.label.price' | t }}</th>
              <th class="cart__table-cell cart__table-cell--quantity">{{ 'cart.label.quantity' | t }}</th>
              <th class="cart__table-cell cart__table-cell--total">{{ 'cart.label.total' | t }}</th>
            </tr>
          </thead>
          <tbody>
            {% for item in cart.items %}
              <tr class="cart__table-row">
                <td class="cart__table-cell cart__table-cell--image">
                  <a href="{{ item.url }}" class="cart__image-wrapper">
                    {% if item.image %}
                      <img 
                        src="{{ item.image | img_url: '150x' }}" 
                        alt="{{ item.title | escape }}" 
                        class="cart__image"
                        width="150"
                        height="{{ 150 | divided_by: item.image.aspect_ratio | round }}"
                        loading="lazy"
                      >
                    {% else %}
                      {{ 'product-1' | placeholder_svg_tag: 'cart__image placeholder-svg' }}
                    {% endif %}
                  </a>
                </td>
                <td class="cart__table-cell cart__table-cell--details">
                  <a href="{{ item.url }}" class="cart__item-title">
                    {{ item.product.title }}
                  </a>
                  
                  {% unless item.product.has_only_default_variant %}
                    <p class="cart__item-variant">
                      {% for option in item.product.options %}
                        {{ option }}: {{ item.variant.options[forloop.index0] }}<br>
                      {% endfor %}
                    </p>
                  {% endunless %}
                  
                  <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&quantity=0" class="cart__remove-item">
                    {{ 'cart.general.remove' | t }}
                  </a>
                </td>
                <td class="cart__table-cell cart__table-cell--price">
                  {% if item.original_price != item.final_price %}
                    <span class="cart__price cart__price--sale">
                      {{ item.final_price | money }}
                    </span>
                    <span class="cart__price cart__price--regular">
                      {{ item.original_price | money }}
                    </span>
                  {% else %}
                    <span class="cart__price">
                      {{ item.original_price | money }}
                    </span>
                  {% endif %}
                </td>
                <td class="cart__table-cell cart__table-cell--quantity">
                  <div class="cart__quantity">
                    <button type="button" class="cart__quantity-button cart__quantity-button--minus" data-quantity-minus>
                      -
                    </button>
                    <input 
                      type="number" 
                      name="updates[]" 
                      id="updates_{{ item.key }}" 
                      value="{{ item.quantity }}" 
                      min="0" 
                      class="cart__quantity-input"
                    >
                    <button type="button" class="cart__quantity-button cart__quantity-button--plus" data-quantity-plus>
                      +
                    </button>
                  </div>
                </td>
                <td class="cart__table-cell cart__table-cell--total">
                  <span class="cart__price">
                    {{ item.final_line_price | money }}
                  </span>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      
      <div class="cart__footer">
        <div class="cart__footer-left">
          {% if section.settings.show_note %}
            <div class="cart__note">
              <label for="CartNote" class="cart__note-label">{{ 'cart.general.note' | t }}</label>
              <textarea name="note" id="CartNote" class="cart__note-input">{{ cart.note }}</textarea>
            </div>
          {% endif %}
        </div>
        
        <div class="cart__footer-right">
          <div class="cart__subtotal">
            <span class="cart__subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
            <span class="cart__subtotal-price">{{ cart.total_price | money }}</span>
          </div>
          
          <div class="cart__taxes">
            {{ 'cart.general.taxes_and_shipping_at_checkout' | t }}
          </div>
          
          <div class="cart__buttons">
            <button type="submit" name="update" class="cart__update">
              {{ 'cart.general.update' | t }}
            </button>
            
            <button type="submit" name="checkout" class="cart__checkout">
              {{ 'cart.general.checkout' | t }}
            </button>
          </div>
        </div>
      </div>
    </form>
  {% else %}
    <div class="cart__empty">
      <p class="cart__empty-text">{{ 'cart.general.empty' | t }}</p>
      <div class="cart__empty-button">
        <a href="{{ routes.all_products_collection_url }}" class="cart__continue-shopping">
          {{ 'cart.general.continue_shopping' | t }}
        </a>
      </div>
    </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Cart",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_note",
      "label": "Enable cart notes",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_cart_ajax",
      "label": "Enable AJAX cart",
      "info": "Updates the cart without reloading the page",
      "default": true
    }
  ]
}
{% endschema %} 